<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-// mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="categoryMapper">
	<resultMap id="categoryResultSet" type="Category">
		<id property="cid" column="CATEGORY_ID"/>
		<result property="cname" column="C_NAME"/>
		<result property="cid2" column="CATEGORY_ID2"/>
		<result property="cgroup" column="C_GROUP"/>
	</resultMap>

	<select id="selectClist" resultMap="categoryResultSet">
	SELECT
		    CATEGORY_ID
		  , C_NAME
		  , CATEGORY_ID2
		  , C_GROUP
	FROM
			CATEGORY
	</select>
	
</mapper>